@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />

<span>My Gram</span>
<input type="search" class="SearchInput" placeholder="Search">
<button type="button" id="LogIn">Log In</button>
<button type="button" id="SignUp" onclick="location.href='/Home/SignUp'">Sign Up</button>

<div id="DivContainer container-fluid">
    <div class="row">

        <div class="col-4">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Razer_snake_logo.svg/1200px-Razer_snake_logo.svg.png"
                 width="100" height="100">
        </div>
        <div class="col-4">
            <span>Profile Name</span>
        </div>
        <div class="col-4">
            <button type="button" id="Follow">Follow</button>
        </div>
        <div class="row">
            <span class="col-4">0</span>
            <span>Posts</span>
            <span class="col-4">0</span>
            <span>Followers</span>
            <span class="col-4">0</span>
            <span>Following</span>
        </div>
        <br />
        <div class="col-12">
            <span>Description</span>
        </div>


        <br />

        <div class="row">

            <div class="col-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdu5J1IKFOpM-Ix06Yizy3oORyMXHkaXaD2A&usqp=CAU"
                     width="50" height="50">
            </div>
            <div class="col-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNQOCw1ZGoL2xM0PLI-Pg7KNRNEPFtQD8gpA&usqp=CAU"
                     width="50" height="50">
            </div>
        </div>


        <div class="row">
            <div class="col-6">Story1</div>
            <div class="col-6">Story2</div>
        </div>



        <div class="row">

            <div class="2">POSTS</div>
            <div class="2">REELS</div>
            <div class="2">IGTV</div>
            <div class="2">TAGGED</div>
            <div class="4" onclick="location.href='/Home/Calendar'">View By Calander</div>

        </div>
        <div class="row">

            <div class="col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaq8kIhgpcbd3rG3Qn8rfwR7AZTIp90Zy9Rw&usqp=CAU"
                     width="150" height="150">
            </div>
            <div class="col-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvAoRTkAfM8KIiGHt3QDHZ5CjhaxlO-Jr0yg&usqp=CAU"
                     width="150" height="150">
            </div>
            <div class="col-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRG-Gf487I-jnE_DX2K2pycUbVsyg8KmqyLQ&usqp=CAU"
                     width="150" height="150">
            </div>
            <br />
            <div class="col-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLySoy6QEIzANWMAIW8njJ6DrljcjeXklLCQ&usqp=CAU"
                     width="150" height="150">
            </div>
            <div class="col-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkDVG00cdjvalKKG6wq6Ml7CU-R_wqiFQHmg&usqp=CAU"
                     width="150" height="150">
            </div>
            <div class="col-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5mm3w_55IA3fc5yB2BfoQXIfwj6RvwcxW5A&usqp=CAU"
                     width="150" height="150">
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn.shopify.com/s/files/1/0043/8471/8938/products/160693279872910011.jpg?v=1606932814" class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://imgix.cosmicjs.com/91e5c190-1886-11eb-acc7-cb482b2c87af-LadyGagaLamboQ420SiteHero2.jpg?auto=format&fm=jpg&q=80&fit=crop&crop=entropy&w=812&h=457" class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://imgix.cosmicjs.com/9559d9b0-1886-11eb-acc7-cb482b2c87af-LadyGagaLamboQ420SiteHero3.jpg?auto=format&fm=jpg&q=80&fit=crop&crop=entropy&w=812&h=457" class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://imgix.cosmicjs.com/98c71400-1886-11eb-acc7-cb482b2c87af-LadyGagaLamboQ420SiteHero4.jpg?auto=format&fm=jpg&q=80&fit=crop&crop=entropy&w=812&h=457" class="d-block w-100" />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>