@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet"/>
<div id="Div">
    <div class="Table1">
        
                 <div>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Razer_snake_logo.svg/1200px-Razer_snake_logo.svg.png"
                         width="100" height="100">
                 </div>
                 <div>
                    <span>Profile Name</span>
                    <button type="button" id="Follow">Follow</button>
                    <br>
                    <span>0 Posts  0 Followers  0 Following</span>
                    <br>
                    <span>Description</span>
                    <br>
                 </div>
               
       
    </div>
</div>
<div class="Story">
    
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdu5J1IKFOpM-Ix06Yizy3oORyMXHkaXaD2A&usqp=CAU"
                     width="50" height="50">
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNQOCw1ZGoL2xM0PLI-Pg7KNRNEPFtQD8gpA&usqp=CAU"
                     width="50" height="50">
            </div>
        
            <div>Story1</div>
            <div>Story2</div>
      
</div>

<div class="Table2">
    
            <div>POSTS</div>
            <div>REELS</div>
            <div>IGTV</div>
            <div>TAGGED</div>
      
</div>
<div class="Table3">
    
             <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaq8kIhgpcbd3rG3Qn8rfwR7AZTIp90Zy9Rw&usqp=CAU"
                     width="150" height="150">
             </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvAoRTkAfM8KIiGHt3QDHZ5CjhaxlO-Jr0yg&usqp=CAU"
                     width="150" height="150">
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRG-Gf487I-jnE_DX2K2pycUbVsyg8KmqyLQ&usqp=CAU"
                     width="150" height="150">
            </div>
            
              <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLySoy6QEIzANWMAIW8njJ6DrljcjeXklLCQ&usqp=CAU"
                     width="150" height="150">
              </div>
              <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkDVG00cdjvalKKG6wq6Ml7CU-R_wqiFQHmg&usqp=CAU"
                     width="150" height="150">
              </div>
              <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5mm3w_55IA3fc5yB2BfoQXIfwj6RvwcxW5A&usqp=CAU"
                     width="150" height="150">
              </div>
         
</div>
