
<link href="~/css/SignUp.css" rel="stylesheet" />

    <div id="MyDiv">
        <div class="MyInnerDiv1">
            <div>
        <span>First Name: </span>
        <input type="text" placeholder="Input your first name here" />
             </div>
            <div>
        <span>Last Name: </span>
        <input type="text" placeholder="Input your last name here" />
            </div>
          </div>

        <div class="MyInnerDiv3">

            <div>
                <span>User</span>
                <input type="text" placeholder="Input your user name here" />
            </div>
            <div>
                <span>Password</span>
                <input type="text" placeholder="Input your password here" />
            </div>
        </div>

        <div class="MyInnerDiv4">
            <div>
                <span>Gender</span>
                <input type="radio" />
                <span>Male</span>
                <input type="radio" />
                <span>Female</span>
                <input type="radio" />
                <span>Prefer not to respond</span>
            </div>
        </div>

        <div class="MyInnerDiv5">
            <div>
                <span>Country of Residence</span>
            </div>
            <div>
                <select>
                    <option>USA</option>
                    <option>Canada</option>
                    <option>UK</option>
                    <option>China</option>
                </select>
            </div>
        </div>

        <div class="MyInnerDiv6">
            <div>
                <button id="SignUpButton">Sign Up</button>
            </div>
        </div>

    </div>
