:root {
    --backgroundColor: blue;
    --textColor: white;
    --greyText: grey;
}

#LogIn {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#SignUp {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#Follow{
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#carouselExampleControls img {
    width: 400px;
    height: 300px;
}